{% extends 'guestbook/base.html' %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Entry list{% endblock title %}

{% block content %}
  <!-- add new entry form -->
  <div class="panel panel-success">
    <div class="panel-heading">
      <b>Please add a new message</b>
    </div>
    <div class="panel-body">
      <form action="{% url 'entry_list' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success">Add new entry</button>
      </form>
    </div>
  </div>

  <hr />

  <!-- list of entries -->
  <div class="panel panel-success">
    <div class="panel-heading">
      <b>Previous entries</b>

      <span class="pull-right">
        <a class="toggle-search" href="">Search</a>
      </span>

      <span class="pull-right">
        Order by date:
        {% if order == '-date' %}
          <b>newest first</b>
        {% else %}
          <a href="?order=-date{% if filter %}&filter={{ filter }}{% endif %}">newest first</a>
        {% endif %}
         |
        {% if order == 'date' %}
          <b>oldest first</b>
        {% else %}
          <a href="?order=date{% if filter %}&filter={{ filter }}{% endif %}">oldest first</a>
        {% endif %}
        &nbsp;
      </span>

    </div>

    <div class="panel-body">

      <!-- search form -->
      <div class="search pull-right">
        <form class="search-form form-inline" action="#" method="get">
          <div class="input-group">
            <input class="form-control" type="text" name="filter" value="{{ filter }}"/>
            <span class="input-group-btn">
              <input type="submit" class="btn btn-success" value="Search"/>
            </span>
          </div>
        </form>
      </div>

      {% for entry in entries %}
        <blockquote>
          <p>{{ entry.message }}</p>
          <footer>{{ entry.author }} @ {{ entry.date }}</footer>
        </blockquote>
      {% endfor %}

      {% if is_paginated %}
        <ul class="pager">
          {% if page_obj.has_previous %}
            <li class="previous">
              <a href="?page={{ page_obj.previous_page_number }}&order={{ order }}{% if filter %}&filter={{ filter }}{% endif %}">Previous</a>
            </li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="next">
              <a href="?page={{ page_obj.next_page_number }}&order={{ order }}{% if filter %}&filter={{ filter }}{% endif %}">Next</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}

    </div>
  </div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/entry_list.js' %}"></script>
    <script>
      var search_on = {% if filter %}true{% else %}false{% endif %};
    </script>
{% endblock scripts %}
