{% extends 'guestbook/base.html' %}
{% load bootstrap %}

{% block title %}Entry list{% endblock title %}

{% block content %}
  <!-- add new entry form -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Please add a new message:
    </div>
    <div class="panel-body">
      <form action="{% url 'entry_list' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-default">Add new entry</button>
      </form>
    </div>
  </div>

  <hr />

  <!-- list of entries -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Previous entries:
    </div>
    <div class="panel-body">
      {% for entry in entries %}
        <blockquote>
          <p>{{ entry.message }}</p>
          <footer>{{ entry.author }} @ {{ entry.date }}</footer>
        </blockquote>
      {% endfor %}

      {% if is_paginated %}
        <ul class="pager">
          {% if page_obj.has_previous %}<li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>{% endif %}
          {% if page_obj.has_next %}<li class="next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>{% endif %}
        </ul>
      {% endif %}
    </div>
  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
